name: build container image when branches are pushed

on:
  push:
    branches: ["*"]

jobs:
  build:
    if: github.event.pusher.name != 'dreamkast-cloudnativedays'
    uses: cloudnativedaysjp/reusable-workflows/.github/workflows/wc-build-image.yml@main
    permissions:
      contents: read
      id-token: write
    with:
      image_name: dreamkast-ui
      platforms: amd64
      aws_region: us-west-2
      run-trivy: true
      build_args: |
        SENTRY_RELEASE=${{ github.sha }}

  upload-sourcemaps:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    permissions:
      contents: read
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Build
        id: docker_build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: ./
          file: Dockerfile-upload-source-maps
          builder: ${{ steps.buildx.outputs.name }}
          push: false
          cache-from: type=gha
          build-args: |
            SENTRY_AUTH_TOKEN=${{ secrets.SENTRY_AUTH_TOKEN }}
            SENTRY_RELEASE=${{ github.sha }}
